.login{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 160px;
  box-sizing: border-box;
  transition: all .5s ease-in;
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: #ffe5ef;
    transform: translateY(100%);
    transition: all .4s ease-in;
  }
  &.login__active{
    &::before{
      transform: translateY(0);
      bottom: auto;
      background:rgba(38,34,43,.7);
    }

    .input{
      .input_wrap{
        li{
          input{
            &:focus{
              border-color: rgba(38,34,43,.7);
            }
          }
        }
      } 
      .bottom span{
        color: #fff;
      }
    }
  }
  .title{
    position: relative;
    width: 110px;
    color: #fff;
    font-size: 34px;
    line-height: 80px;
    background: rgba(38,34,43,1);
    border-radius: 50%;
    margin: 0 auto 80px;
  }
  .title::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -18px;
    left: 20%;
    border-top: 26px solid rgba(38,34,43,1);
    border-right: 22px solid transparent;
    border-bottom-left-radius: 50px 10px;
    transform: rotate(15deg);
  }
  .input{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input_wrap{
      border-radius: 8px 8px 2px 2px;
      outline: none;
      overflow: hidden;
      box-shadow: 0 0px 3px 0px rgba(#ffeaea, .1);
      input[type='email'],input[type='password']{
        height: 40px;
        outline: none;
        border: none;
        line-height: 3;
        &:focus{
          border: 2px solid rgba(38,34,43,.7);
          box-sizing: border-box;
        }
      }
      input[type='email']{
        border-bottom: 1px solid #eee;
        border-radius: 8px 8px 0 0;
      }
      input::placeholder{
        color: rgba(38,34,43,.7);
      }
    }
    input{
      width: 240px;
      padding: 0 10px;
      box-sizing: border-box;
      outline: none;

    }
    input[type='submit']{
      border: none;
      border-radius: 2px 2px 8px 8px;
      box-shadow: 0 0px 4px 2px rgba(#ffd5e5, .06);
      background: #ffebf3;
      color: rgba(38,34,43,.7);
      line-height: 3;
      cursor: pointer;
      transition: background 0.3s linear;
      &.active{
        border-color: rgba(38,34,43,.7);
        background: rgba(38,34,43,.7);
        color: rgba(38,34,43,.7);
      }
    }
    .error_message{
      color: var(--triadic2);
      line-height: 3;
      margin: 3px 0;
    }
    .sns_login{
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 240px;
      box-sizing: border-box;
      li{
        padding-bottom: 8px;
        button{
          display: flex;
          justify-content: space-around;
          align-items: center;
          position: relative;
          width: 100%;
          height: 46px;
          padding: 8px;
          border: none;
          box-shadow: 0 0px 4px 0px rgba(#ffc6c6, .078);
          border-radius: 8px;
          background: #ffe8e8;
          color: rgba(38,34,43,.8);
          cursor: pointer;
          transition: background .3s linear;
          &:hover{
            background: rgb(255, 211, 211);
            color: #fff;
          }
          svg{
            font-size: 24px;
            height: 24px;
            width: 24px;
            margin-right: 8px;
          }
          span{
            flex: 1;
            text-align: left;
          }
        }
      }
    }
    .bottom{
      span{
        color: rgba(38,34,43,.7);
        text-align: justify;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}